html, body {
  margin: 0;
  height: 100%;
  background-color: var(--mat-sys-surface);
color: var(--mat-sys-on-surface);
}

app-root, .d-flex {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  min-height: 100vh;
}
